{% extends "template.html" %}
{% block conteudo %}
    <div class="content" data-funcao="{{ funcao }}">
        <form action="{{ url_for('atualiza', funcao=funcao) }}" method="post">
            {% if not lista %}
                <h1>Não há produtos - {{ titulo }} - na câmara</h1>
            {% endif %}
            {% for chave, produtos in lista.items() %}
            <table class="table table-hover table-striped table-responsive table-bordered table-custom-border">
                <thead class="thead-custom">
                    <tr>
                        <th colspan="{% if funcao == 'Retirada' %}5{% else %}3{% endif %}" class="table-title">
                            {{ chave }}
                        </th>
                    </tr>   
                    <tr class="tr-custom">
                        <th class="col-3">Nome</th>
                        <th class="col-3">Quantidade</th>
                        {% if funcao == 'Retirada' %}
                            <th class="col-3">Data de Chegada</th>
                            <th class="col-3">Retirar</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for informacoes in produtos  %}
                        <tr>
                            <input type="hidden" value="{{informacoes[3]}}" name="cod">
                            <td class="nome">{{ informacoes[0] }}</td>
                            <td>
                                {% if funcao == 'Entrada' %}
                                    <span class="input-number-decrement">–</span>
                                    <input class="input-number" type="text" value="{{ informacoes[1] }}" min="0" max="10" name="qtd">
                                    <span class="input-number-increment">+</span>
                                {% else %}
                                    {{ informacoes[1] }}
                                {% endif %}
                            </td>
                            {% if funcao == 'Retirada' %}
                                <td>
                                    {{ informacoes[2] }}
                                </td>
                                <td>
                                    <span class="input-number-decrement">–</span>
                                    <input class="input-number" type="text" value="0" min="0" max="{{ informacoes[1] }}" name="qtd-retirada">
                                    <span class="input-number-increment">+</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
            </table>
            <div class="btn-footer">
                <button class="btn btn-info  btn-lg btn-block mb-2" type="submit">
                    Confirmar
                </button>
                <a href="{{ url_for('redireciona', funcao=funcao) }}" class="btn btn-danger  btn-lg btn-block mb-2">
                        Voltar
                </a>
            </div>
        </form>
    </div>
{% endblock %}
