{% extends "template.html" %}
{% block conteudo %}
    <div class="content">
        {% for chave, produtos in lista.items() %}
        <table class="table table-hover table-striped table-responsive table-bordered table-custom-border">
            <thead class="thead-custom">
                <tr>
                    <th colspan="{% if funcao == 'Retirada' %}4{% else %}3{% endif %}" class="table-title">{{ chave }}</th>
                </tr>   
                <tr class="tr-custom">
                    <th class="col-4">Nome</th>
                    <th class="col-4">Quantidade</th>
                    {% if funcao == 'Retirada' %}
                        <th class="col-4">Data de Chegada</th>
                    {% endif %}
                    <th class="col-4">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for informacoes in produtos  %}
                <tr>
                    <td class="nome">{{ informacoes[0] }}</td>
                    <td id="qtd">{{ informacoes[1] }}</td>
                    {% if funcao == 'Retirada' %}
                        <td>{{ informacoes[2] }}</td>
                    {% endif %}
                    <td>
                        <div class="btn-group" role="group">

                            <button id="adicionar" class="btn btn-info btn-lg">+</button>
                            <button id="remover" class="btn btn-danger btn-lg">-</button>

                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
        </table>
        <div class="btn-footer">
            <a href="{{ url_for('index') }}">
                <button class="btn btn-info  btn-lg btn-block mb-2">
                    Confirmar
                </button>
            </a>
            <a href="{{ url_for('redireciona') }}">
                <button class="btn btn-danger  btn-lg btn-block mb-2">
                    Voltar
                </button>
            </a>
        </div>
    </div>
{% endblock %}
