{% extends "template.html" %}
{% block conteudo %}
    <div class="content">
        <a class="btn btn-primary" href="">Chegada</a>
        <a class="btn btn-danger" href="">Saída</a>

        <table class="table table-hover table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Data de Chegada</th>
                </tr>
            </thead>
            <tbody>
                {% for sorvete in sorvetes %}
                <tr>
                    <td>{{ sorvete.nome }}</td>
                    <td>{{ sorvete.quantidade }}</td>
                    <td>{{ sorvete.data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
