{% extends "template.html" %}
{% block conteudo %}
<div class="btn-containers">
        <form action="{{ url_for('funcionalidade') }}" method="post">
            <button class="btn btn-litro btn-lg  mb-2 " name="valor"  type="submit" value="1 Litro">
                    Pote 1 Litro
            </button>

            <button class="btn btn-Dlitro btn-lg btn-block mb-2" name="valor" type="submit" value="2 Litros">
                    Pote 2 Litros
            </button>
        
            <button class="btn btn-Clitro btn-lg btn-block mb-2" name="valor" type="submit" value="5 Litros">
                    Pote 5 Litros
            </button>
        
            <button class="btn btn-picole btn-lg btn-block mb-2" name="valor" type="submit" value="Picolé">
                    Picolés
            </button>
        
            <button class="btn btn-bom btn-lg btn-block mb-2" name="valor"  type="submit" value="Bombom">
                   Bomboms
            </button>
            <button class="btn btn-cop btn-lg btn-block mb-2" name="valor"  type="submit" value="Copinhos">
                   Copinhos
            </button>

        </form>
        <a href="{{ url_for('index') }}">
            <button class="btn btn-danger  btn-lg btn-block mb-2">
                Voltar
            </button>
        </a>
    </div>
{% endblock %}
