<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColdControl</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
</head>
<body>
    <div class="container">
        <div>
            <h1>{{ titulo }}</h1>
        </div>

        {% block conteudo%}  {% endblock %}



    </div>
</body>
</html>