<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColdControl</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>{{ titulo }}</h1>
            <h2>Ultima atualização: 10/10</h2>
        </div>

        {% block conteudo%}  {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        
    </div>
</body>
</html>