body {
    padding-top: 10px;
    background-color: #f4f4f8;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding: 5px;
}

.title h1, .title h2 {
    margin: 0; /* Remove margens padrões */
}


.btn {
    margin-bottom: 10px;
}
.btn-chegada{
    background-color: #46b859;
    color: #14342b;
    font-weight: bold;
    border-color: #14342b;
}
.btn-chegada:hover{
    color: #14342b;
}
.btn-saida{
    background-color: #FFC9C9;
    font-weight: bold;
    color: #E03131;
    border-color: #E03131;
}
.btn-saida:hover{
    color: #E03131;
}
.btn-hover:hover{
    box-shadow: 2px 2px 2px rgba(102, 102, 102, 0.795);
}

.container {
    border-radius: 4px;
    margin: auto;
    width: 80%;
}

.little-container {
    width: 40%;
    margin: auto;
}
table{
    background-color: #fdfdfd;
}

td {
    text-align: center;
    font-weight: 800;
   font-size: 25px;
} 
th{
    font-size: 20px;
    color: white;

}
.buttons {
    margin-top: 16px
}
.table-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding: 10px 0;
}
.table-custom-border {
    border-color: #343a40;
    box-shadow: 2px 2px rgba(102, 102, 102, 0.795); 
    border-radius: 1px; 
    overflow: hidden;
}
form{
    text-align: center;
}
.table-custom-border th,
.table-custom-border td {
    border-color: #343a40; /* Cor escura para as bordas das células */
}

.table-custom-border thead th {
    border-bottom: 2px solid #343a40; /* Cor escura e espessura para a borda inferior do cabeçalho */
}

.table-custom-border tbody tr {
    border-bottom: 1px solid #343a40; /* Cor escura para a borda inferior das linhas do corpo */
}

.table-custom-border tbody tr td {
    border-top: 1px solid #343a40; /* Cor escura para a borda superior das células */
    border-right: 1px solid #343a40; /* Cor escura para a borda direita das células */
}
.table-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.25em; /* Ajuste conforme necessário */
    padding: 10px 0;
}
.thead-custom{
    background-color: #2081c3;
}
.tr-custom{
    background-color: #61b0e5;
}
.nome{
    text-align: left;
}
.btn-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-containers button {
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
    width: 600px; /* Largura dos botões */
}
.btn-containers button:hover {
    color: white;
    box-shadow: 3px 3px rgba(102, 102, 102, 0.795);/* Largura dos botões */
}
.btn-litro{
    background-color: #2f9e44;
}
.btn-Dlitro{
    background-color: #6741d9;
}
.btn-Clitro{
    background-color: #e8590c;
}
.btn-picole{
    background-color: #0c8599;
}
.btn-cop{
    background-color: #fab005;
}
.btn-bom{
    background-color: #74b1a7;
}
.btn-footer button {
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
    align-items: center;
    width: 300px; /* Largura dos botões */
}
.btn-footer button:hover {
    color: white;
    box-shadow: 3px 3px rgba(102, 102, 102, 0.795);/* Largura dos botões */
}
.input-number{
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none
}
.input-number,
.input-number-decrement,
.input-number-increment{
  border: 1px solid #ccc;
  height: 40px;
  user-select: none
}

.input-number-decrement,
.input-number-increment{
  display: inline-block;
  width: 30px;
  line-height: 38px;
  color: #fffcfc;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement{
  border-right: none;
  border-radius: 4px 0 0 4px;
  background-color: #ef3e36;
}
.input-number-increment{
  background-color: #094074;
  border-left: none;
  border-radius: 0 4px 4px 0
}